<h1 class="header center light-blue-text">
	Nuevo Comentario
</h1>

<%= form_tag("/comment/create", method: "post") do %>
	<h5 class="header col s12 light">
		<%= hidden_field_tag(:content_id, @content_id) %>
		<p>Comentario</p>
		<%= text_area_tag(:body) %>
		<%= submit_tag("Crear comentario") %>
	</h5>
<% end %>