<h4 class="header light red-text text-lighten-2">Recomendaciones</h4>
<!--<%= debug @recommendations %> -->
<!-- <%= debug @recommended_contents %> -->
<%= render "grid", contents: @recommendations %>