<h1 class="header center light-blue-text">Recomendaciones inteligentes</h1>
<div class="row center">
  <h5 class="header col s12 light">Recibe recomendaciones de películas, series y videojuegos</h5>
</div>
<div class="row center">
  <a href="/users/sign_up" class="btn-large waves-effect light-blue">Registrarse</a>
</div>