
<h4 class="header light red-text text-lighten-2">Últimos agregados</h4>
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="https://image.tmdb.org/t/p/w396/5aGhaIHYuQbqlHWvWYqMCnj40y2.jpg">
        <span class="card-title">The Martian (2015)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="https://image.tmdb.org/t/p/w396/vxuoMW6YBt6UsxvMfRNwRl9LtWS.jpg">
        <span class="card-title">The Walking Dead (2010)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="http://static.giantbomb.com/uploads/scale_super/16/164924/2761925-2335125119-91tAg.jpg">
        <span class="card-title">Dragon Ball Z: Extreme Butouden (2015)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="http://static.giantbomb.com/uploads/scale_super/8/82063/2633465-h5g.jpg">
        <span class="card-title">Halo 5: Guardians (2015)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="https://image.tmdb.org/t/p/w396/5KpBxzkMGXpQ8UUd8FIr1SDqz7E.jpg">
        <span class="card-title">The Flash (2014)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="https://image.tmdb.org/t/p/w396/3k13fCORqq5mFNwZ1RvIXEjiECj.jpg">
        <span class="card-title">Ant-Man (2015)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="http://static.giantbomb.com/uploads/scale_super/0/4938/846313-legobatman.png">
        <span class="card-title">LEGO Batman: The Videogame (2008)</span>
      </div>
      <div class="card-action">
        <a href="/media/1">+ Info</a>
      </div>
    </div>
  </div>
</div>
